# Development junk
*.bak
*.backup
*.bk
*.swp
*.swo
node_modules/
npm-debug.log

# Infrastructure/Deployment files (Specific to your project)
.git/
.github/
.gitignore
.dockerignore
scripts/
appspec.yml
bin/

# Cloud/Secrets
.env
.aws/

# OS Junk
.DS_Store
thumbs.db
